:root { 
--bluegray_50:#f1f1f1; 
--black_900_3f:#0000003f; 
--gray_50:#f9f9f9; 
--black_900:#000000; 
--gray_904:#2a2a2a; 
--gray_600:#6d6d6d; 
--gray_601:#848484; 
--gray_400:#c9c9c9; 
--gray_202:#edecec; 
--orange_A200:#feb238; 
--gray_500:#939393; 
--gray_401:#c4c4c4; 
--gray_901:#282825; 
--gray_902:#282828; 
--gray_800:#4f4f4f; 
--gray_900_00:#18181300; 
--gray_900:#181813; 
--gray_801:#3f3f3f; 
--gray_200:#e8e8e8; 
--gray_101:#f5f5f5; 
--gray_201:#ededed; 
--gray_100:#f7f7f7; 
--teal_A400:#30e3ca; 
--bluegray_900:#333328; 
--bluegray_800:#40514e; 
--gray_900_b2:#181813b2; 
--blue_300:#55acee; 
--white_A700:#ffffff; 
--bluegray_902:#333333; 
--bluegray_901:#353535; 
--indigo_600:#3b5998; 
}